/* styling for navbar*/

#main-menu>ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.nav > li > a {
	color: black !important;
}
.nav > li > a:hover {
	background: #7fa6df !important;
}

.navbar {
	border: none;
}
.navbar-brand {
	visibility: hidden;
	color: black !important;
}
.icon-bar {
	border: 1px solid black;
	width: 100%;
	margin: 2px 0;
	padding: 0;
	visibility: hidden;
}
.dropdown-toggle {
	margin: 0;
	padding: 0 .5em;
	border: 0;
	content: "";
	background-color: transparent;
}
.dropdown-toggle:after {
	position: relative;
	top: 0;
	left: 0;
	width: 42px;
	color: white;
}
.sub-menu {
	padding: 0;
}
.has-submenu {
	position: relative;
}
.sub-menu.toggled-on {
	display: flex;
	flex-direction: column !important;
	font-size: 1em;
	left: -120px;
	width: 200px;
	background: #e6e6e6;
	padding-left: 0;
}

.sub-menu.toggled-on li a {
	width: 100%;
}

