body {
	width: 40%;
	margin: 10% auto;
}




h2 {
	margin-bottom: .5em;
}
.register-form {
	line-height: 1.4;

}
.form-group {
	background: #92b4e5;
	margin-bottom: 1em;
	padding: 10px;
}
.form-group ul {
	list-style: none;
	margin: 0 0 .5em;
	padding: 0;
}
.form-group li {
	margin-bottom: 0.5em;
}
.form-group h3 {
	margin-bottom: 1em;
}
.form-fields input[type="text"],
.form-fields input[type="email"],
.form-fields input[type="password"] {
  box-sizing: border-box;
  padding: 0.6em 0.8em;
  color: #999;
  background: #f7f7f7;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9em;
  text-decoration: none;
  line-height: normal;
  max-height: 3em;
}
.form-fields input[type="text"]:focus,
.form-fields input[type="email"]:focus,
.form-fields input[type="password"]:focus {
  color: #333;
  border: 1px solid #C17CCF;
  outline: none;
  background: #f2f2f2;
}
.register-btn, .cancel-btn {
	border-radius: 0px 2px 2px 0px;
	box-sizing: content-box;
	background: #92b4e5;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	padding: 0.35em 0.75em;
	border: none;
	font-size: 1.1em;
	text-decoration: none;
	cursor: pointer;	
}
.register-btn:hover, .register-btn:focus,
.cancel-btn:hover, .cancel-btn:focus {
	background: #C17CCF;
}
.cancel-btn a {
	color: white;
}
/*flex it*/
.register-form {
	display: flex;
	flex-wrap: wrap;
	margin-right: -2em;
}
.form-group {
	flex: 1 0 300px;
	margin-right: 2em;
}
.form-submit {
	flex: 0 0 100%;
}
.form-fields li {
	display: flex;
	flex-wrap: wrap;
}
.form-fields input[type="text"],
.form-fields input[type="email"],
.form-fields input[type="password"] {
	flex: 1 0 230px;
}
.form-fields label {
	flex: 1 0 90px;
	max-width: 200px;
}
@media (max-width: 900px) {
	body {
		width: 60%;
	}
}
@media (max-width: 600px) {
	body {
		width: 80%;
	}
}
@media (max-width: 400px) {
	body {
		width: 100%;
		margin: 0;
		padding: 0 0 2em;
	}
	header, .form-submit {
		padding: 2% 5%;
	}
}