<main class="container">
	<aside class="sidebar-left">
		<section><img src="/images/newest.jpg" alt="" class="img_hide">
			<a href="#">more about Rental Data...</a></section>
		<section>
			<p class="news">
                <strong>In the News</strong><br>
                <em>Local ID Theft</em> - A recent rash of local Craigslist rental postings is designed to get your money, your credit card and social security info...
                <span><a href="#">Read More</a></span>
            </p>
        </section>
	</aside>
	
	<article class="main">

		<h1>Hello Portland!</h1>
		<h2>Make finding your next home <em>easy!</em></h2>

		<h3>Over 4000 homes for rent each month!</h3>
		<ul>
			<li>~ Portland, Oregon ~</li>
			<li>~  The Willamette Valley ~</li>
			<li>~  Vancouver, Washington ~</li>
		</ul>

		<p>Get custom reports, daily updates, and verified listings with Rental Data - matching tenants and landlords for over 26 years!</p>
 		<button><a href="login">Login/Register</a></button>
    </article>

	<aside class="sidebar-right">
		<p>Find More Rentals Faster!</p>
		<ul>
		
<!-- 						<li><a href="#">Search Listings</a></li>
			<li><a href="#">Subscribe Here</a></li>
			<li><a href="#">Sign in Here</a> to view your personal matches!</li> -->
			<li>Houses</li>
			<li>Duplexes</li>
			<li>Townhouses</li>
			<!-- <li>Homes on Acreage</li>
			<li><a href="#">Search Listings...</a></li> -->
		</ul>
		<ul>
			<li>Homes on Acreage</li>
			<li><a href="#">Search Listings...</a></li>
		</ul>

            <!-- </div> -->
        <section>
			<img src="/images/easyfind8.jpg" alt="" class="img_hide">
			<p>Finding rentals has never been easier!</p>
		</section>
	</aside>

</main>

<!-- <div class="container content">

	<aside class="sidebar sidebar-left">
		<section><img src="/images/newest.jpg" alt="" class="img_hide">
			<a href="#">more about Rental Data...</a></section>
		<section>
			<p class="news">
                In the News
                Local ID Theft - A recent rash of local Craigslist rental postings is designed to get your money, your credit card and social security info...
                <span><a href="#">Read More</a></span>
            </p>
        </section>
	</aside>

    <main class="container main">
         <article class="main post-content">

            <h1>Hello Portland!</h1>
			<h2>Make finding your next home easy!</h2>

			<h3>Over 4000 homes for rent each month!</h3>
			<ul>
				<li>~ Portland, Oregon ~</li>
				<li>~  The Willamette Valley ~</li>
				<li>~  Vancouver, Washington ~</li>
			</ul>


		<p>Get custom reports, daily updates, and verified listings with Rental Data - matching tenants and landlords for over 26 years!</p>

 
        </article>
    </main>


	<aside class="sidebar sidebar-right">
        <p>Find More Rentals Faster!</p>
        <ul>
            <li>Houses</li>
            <li>Duplexes</li>
            <li>Townhouses</li>
        </ul>
        <ul>
            <li>Homes on Acreage</li>
            <li><a href="#">Search Verified Listings...</a></li>
        </ul>


        <section>
            <img src="/images/easyfind8.jpg" alt="" class="img_hide">
            <p>Finding rentals has never been easier!</p>
        </section>
    </aside>

</div> -->