<nav class="navBar">
  <nav class="wrapper">
    <div class="logo"></div><!-- Logo -->
    <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="label-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </label>
    </input>

   <!--  <input type="button" id="menu-toggle">
      <label for="menu-toggle" class="label-toggle"></label>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> -->

    <ul>
      <a href="#"><li>Lorem</li></a>
      <a href="#"><li>Ipsum</li></a>
      <a href="#"><li>Serum</li></a>
    </ul>
  </nav>
</nav>
<header class="wrapper">
  <h1>Big ol' Lorem</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, sint corporis dolores omnis consectetur quaerat nesciunt beatae maiores, itaque labore ex vero pariatur nulla non fugiat, facilis eaque sunt doloremque!</p>
</header>