<link rel="stylesheet" href="css/landlord.css" type="text/css" media="all">

<main class="container">

	<article>
		<h1>Landlord Services</h1>
		<section class="flex-row pics">
			<img src="/images/image017.jpg" alt="">
			<img src="/images/7580.jpg" alt="">
			<img src="/images/1202front.jpg" alt="">
		</section>
		<h2>Landlords list for free</h2>
		<h3>In Oregon's largest rental housing network, locally trusted for over 20 years!</h3>
		<ul>
			<li>Post unlimited ads</li>
			<li>Your ad is guaranteed to display</li>
			<li>Your ad cannot be flagged</li>
			<li>Interested tenants will be matched up daily</li>
			<li>We verify all postings are real</li>
			<li>We fight scams - addresses required</li>
		</ul>
		<a href="#">Click to enter your free listing</a>
		<!-- <section>Section 2</section> -->
	</article>

	<aside class="sidebar-right">
		<section>
			<h3>Rental Market Analysis</h3>
			<h3>Find out what similar homes are renting for in your neighborhood!</h3>
			<img src="/images/ist2_3295050_coins_and_cash.jpg" alt="" class="img-center">
			<!-- <h3>Sign up for free at</h3> -->
			<h3><a href="#">Sign up for free</a></h3>
		</section>
		<section>
			<img src="/images/LLSH.jpg" alt="">
			<p>Join us at these free informative meetings most months out of hte year. This is your opportunity to refine your landlord skills and gain exposure to important real estate information.</p>
		</section>
		<section>
			<h1>Appraiser Rent Comps</h1>
			<img src="/images/logoOregon.jpg" alt="">
		</section>
		<!-- <section>Section 4</section> -->
	</aside>
</main>

