<!-- <link href="./css/style_register.css" rel="stylesheet" type="text/css" media="screen"> -->


	<!-- <h2 >Login</h2> -->

	<style>
		.form-group {
			background-color: yellow;
		}
	</style>


	<form class="register-form" id="loginform" ng-submit="login()">

<!-- 		<div ng-if="loginError">
			<div class="alert alert-danger fade in">
				<strong>Error!</strong> {{ loginError }}
			</div>
		</div> -->

		<section class=" form-group">

			<ul class=" form-fields">	
				<li>
					<label for="username">Username</label>
					<input type="text" placeholder="username" ng-model="loginUser.username">
				</li>
				
				<li>
					<label for="password">Password</label>
					<input type="password" placeholder="password" ng-model="loginUser.password">
				</li>
				
			</ul>
		</section>
		<section class="form-submit">
			<button type="submit" class="register-btn">Sign in</button>
			<button class="cancel-btn"><a href="/">Cancel</a></button>
		</section>
	</form>
	<h5>Not registered yet? <a href="#" id="register">Click here</a> to register!</h5>



