<main class="main-area">
    <article class="post-content">
        <h2>One of my favourite movies</h2>
        <p>My very first encounter with Monty Python was the movie <em>Monty Python and the Holy Grail</em>. It was playing on TV one night while my brothers and I were home alone. We laughed for two hours straight.</p>
        <p>If you haven't watched the movie yet, <strong>SPOILER ALERT!</strong> We were hooked in from the first frame because of the spectacularly bizarre opening references to Norway. It all comes courtesy of a title designer who rather than printing the proper titles decides to tell a story. Being in Norway it was incredibly amusing to see references to our home country in an English speaking movie.</p>
        <p>What can I say? My brothers and I are easily amused.</p>
        <p>For months (if not years) after watching the movie you'd find my brothers and I quoting the movie on a near constant basis.</p>
        <p>My favourite:</p>
        <p>"Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony."</p>
        <p>What can I say? I'm not a monarchist.</p>
    </article>
</main>