<nav class="menu">
		
<!-- 	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button> -->
	
	<ul class="navbar" id="main-menu">
        <li class="active"><a href="/">Home <span>(current)</span></a></li>
        <li><a href="#">Renters</a></li>
        <!-- <li><a href="/landlord">Landlords</a></li> -->
        <li><a href="#">Appraiser</a></li>
        <li class="has-submenu">
        	<a href="#">About<span class="caret"></span></a>
        	<!-- <button class="dropdown-toggle"></button></a> -->
	       <!--  <ul id="sub-menu">
	            <li><a href="#">Who are we?</a></li>
	            <li><a href="#">FAQ</a></li>
	            <li><a href="#">Customer comments</a></li>
	            <li><a href="#">Contact us</a></li>	            
	        </ul> -->
	    </li>
	</ul>
	<span id="branding">Portland Rental Houses</span>
	<button data-collapse data-target="#main-menu">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>

</nav>