<h2 >Register</h2>

<!-- <link href="./css/base.css" rel="stylesheet" type="text/css" media="screen"> -->	
<link href="./css/style_register.css" rel="stylesheet" type="text/css" media="screen">

<!-- 	<div ng-if="loginError">
		<div class="alert alert-danger fade in">
			<strong>Error!</strong> {{ loginError }}
		</div>
	</div> -->

<form class="register-form" ng-submit="register()">

<!-- 	<div ng-if="registerErrors" id="registerErrorsDiv">
		<div ng-repeat="error in registerErrors" class="alert alert-danger fade in registerErrors">
		    <strong>Error!</strong> {{ error.message }}
		</div>
	</div> -->
	
	<section class=" form-group">

		<ul class=" form-fields">	
			<li>
				<label for="username">Username</label>
				<input type="text" placeholder="username" ng-model="newUser.username" >
			</li>
			<li>
				<label for="first_name">First Name</label>
				<input type="text" placeholder="first name" ng-model="newUser.first_name">
			</li>
			<li>
				<label for="last_name">Last Name</label>
				<input type="text" placeholder="last name" ng-model="newUser.last_name">
			</li>
			<li>
				<label for="birthday">Birthday</label>
				<input type="text" name="birthday" placeholder="birthday" ng-model="newUser.birthday"></input>
			</li>

<!-- 			<div ng-if="match_fail" class="alert alert-danger fade in registerErrors">
		    	<strong>Error!</strong> {{ match_fail }}
			</div> -->

			<li>
				<label for="password">Password</label>
				<input type="password" placeholder="password" ng-model="newUser.password">
			</li>
			<li>
				<label for="password_confirm">Password Confirm</label>
				<input type="password" placeholder="password confirm" ng-model="newUser.password_confirm">
			</li>
		</ul>
	</section>
	<section class="form-submit">
		<button type="submit" class="register-btn">Register</button>
		<button class="cancel-btn"><a href="/">Cancel</a></button>
	</section>
</form>


