<html>
<head>
  <meta name="keywords" content="Portland Oregon rental houses, Portland Oregon house rentals, Portland Home Rentals, Homes for Rent in Portland OR, Portland Oregon Homes for Rent, Oregon Rental Homes, Houses for rent in OR, Portland Oregon rental listings, Portland Oregon local rental listings, Portland Oregon Apartment Rentals, apartments for rent Portland Oregon, Portland Oregon rental service, apartment finders, Portland, houses for rent, apartment for rent, portland apartments, houses, homes, real estate, condo, condos, service, condominiums, condominium, apartment, townhouse, for rent, rental, rentals, mobile homes, manufactured home, vacancy, Portland, Portland Oregon, vacancies, Property Manager, property management, NW rentals, rental bureau, rental network, data, rentfinders, rental source">
  <meta name="description" content="Portland Oregon rental houses and homes for rent. The largest rental information database in the Northwest, with nearly 4,000 Portland area  properties to choose from at any moment and over 30,000 new rental advertisements posted each year.">
  <meta name="distribution" content="global">
  <title>About</title>


<meta name="Microsoft Theme" content="none, default">
<meta name="Microsoft Border" content="t">
</head>
<body><!--msnavigation--><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td>

<p align="center"><font size="6"><strong>
</strong></font><br>
</p>
<p align="center">&nbsp;</p>

</td></tr><!--msnavigation--></table><!--msnavigation--><table dir="ltr" border="0" cellpadding="0" cellspacing="0" width="100%"><tr><!--msnavigation--><td valign="top">
<p align="center">
&nbsp;<table border="10" width="840" cellpadding="5" cellspacing="5">
  <tr>
		<td bgcolor="#B7C7CA" width="796"><h3 align="center">Don't know where to
          start?&nbsp; Don't want the hassle?&nbsp; Want to find more rentals
          faster?</h3>
          <h3 align="center">Rental Data is the smart choice for over 20
          years!&nbsp; We have
          the right tools to get the job done.&nbsp; Let us do all the hard
          work, weed out false leads, and save you time and headache.&nbsp; You
          spend all of your time looking at rentals instead of for
          them.&nbsp;&nbsp;</h3>
        </td>
  </tr>

  <tr>
    <td>
      <p align="center"><img border="0" src="images/RD_2_step.JPG" width="701" height="434"></td>
  </tr>
  <tr>
    <td width="778" bgcolor="#B7C7CA">
      <h2 align="center">&nbsp;</h2>
      <h2 align="center"><a href="p/Search%203%20intro.htm">I want to skip the
      hardest step and be a happy family!</a></h2>
      <p align="center">&nbsp;</p>
    </td>
  </tr>
</table>
<p align="center">&nbsp;
</p>
<p align="center">
&nbsp;
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<!--msnavigation--></td></tr><!--msnavigation--></table></body></html>