<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <title>Portland Rental Houses</title>
    <meta name="description" content="Rental Data site, refactored to be responsive"/>
     
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">       
    <link rel="stylesheet" href="css/style-master.css" type="text/css" media="all">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
</head>
<body>
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    <div class="outer-wrap">

        <header>
            <% include partials/navbar.html %>
            <h1 id="banner"></h1>
        </header>

        <% include partials/main-content.html %>

        <footer class="footer-area">
            <p>The footer usually appears on the bottom of the page. That's why it's called the "footer".</p>
        </footer>

    </div><!-- .outer-wrap -->

    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>   
    <script type="text/javascript" src="js/menu-toggle.js"></script>
    <script type="text/javascript" src="js/login-reg.js"></script>

</body>

</html>