<!-- <link rel="stylesheet" href="css/dropdown-enhancement.css">
<link rel="stylesheet" href="css/search.css"> -->

<div class="modal-dialog">

	<!-- Modal content-->
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h2 class="modal-title">Search selections</h2>
		</div> <!-- end div class=modal-header -->
    	<div class="modal-body">
			<div class="container" id="search">
				<section class="panel-body">	

					<form action="#" id="form_home_type" role="form" >
						<ul class="form-fields">								
							<li>
								<div class="btn-group">
									<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" id='home_types'>Select housing type<span class="caret"></span></button>
								    <ul class="dropdown-menu">
								      
								      	<li value="None">
									      	<input type="checkbox" id='' name='home_type' value='house'><label for="house">House</label>
									    </li>
										<li value="None">
											<input type="checkbox" id='' name='home_type' value='plex'><label for="plex">Plex</label>
										</li>
										<li value="None">
											<input type="checkbox" id='' name='home_type' value='townhouse'><label for="townhouse">Townhouse</label>
										</li>
										<li value="None">
											<input type="checkbox" id='' name='home_type' value='rowhouse'><label for="rowhouse">Rowhouse</label>
										</li>
										<li value="None">
											<input type="checkbox" id='' name='home_type' value='floating'><label for="floating">Floating Home</label>
										</li>
										<li value="None">
											<input type="checkbox" id='' name='home_type' value='mobile'><label for="mobile">Mobile Home</label>
										</li>
										<li value="None">
											<input type="checkbox" id='' name='home_type' value='condo'><label for="condo">Condo</label>
										</li>
										<li value="None">
											<input type="checkbox" id='' name='home_type' value='apartment'><label for="apartment">Apartment</label>
										</li>
										<li value="None">
											<input type="checkbox" id='' name='home_type' value='adu'><label for="adu">ADU/Granny Flat</label>
										</li>
								    </ul>
								</div>
							</li>
							<li>
								<div class="btn-group">
								 	<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" id='beds'>Select number of bedrooms<span class="caret"></span></button>
									<ul class="dropdown-menu">
									  	<li>
									      	<input type="radio" id='bed_0' name='beds' value='0'><label for="0">Studio or More Bedrooms</label>
									    </li>
										<li>
											<input type="radio"  id='bed_1' name='beds' value='1'><label for="1">1 or More Bedrooms</label>
										</li>
										<li>
											<input type="radio" id='bed_2' name='beds' value='2'><label for="2">2 or More Bedrooms</label>
										</li>
										<li>
											<input type="radio" id='bed_3' name='beds' value='3'><label for="3">3 or More Bedrooms</label>
										</li>
										<li>
											<input type="radio" id='bed_4' name='beds' value='4'><label for="4">4 or More Bedrooms</label>
										</li>
										<li>
											<input type="radio" id='bed_5' name='beds' value='5'><label for="5">5 or More Bedrooms</label>
										</li>
									</ul>
								</div>
							</li>

							<li>
								<div class="btn-group">
								 	<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" id='price'>Rent price preference<span class="caret"></span></button>
									<ul class="dropdown-menu">
									  	<li>
									      	<input type="radio" id='#' name='price' value='800'><label for="price">Up to $800</label>
									    </li>
										<li>
											<input type="radio"  id='#' name='price' value='1000'><label for="price">Up to $1000</label>
										</li>
										<li>
											<input type="radio"  id='#' name='price' value='1250'><label for="price">Up to $1250</label>
										</li>
										<li>
											<input type="radio"  id='#' name='price' value='1400'><label for="price">Up to $1400</label>
										</li>
										<li>
											<input type="radio"  id='#' name='price' value='1650'><label for="price">Up to $1650</label>
										</li>
										<li>
											<input type="radio"  id='#' name='price' value='2000'><label for="price">Up to $2000</label>
										</li>
										<li>
											<input type="radio"  id='#' name='price' value='2400'><label for="price">Up to $2400</label>
										</li>
										<li>
											<input type="radio"  id='#' name='price' value='2400'><label for="price">Up to $2400</label>
										</li>
										<li>
											<input type="radio"  id='#' name='price' value='2800'><label for="price">Up to $2800</label>
										</li>
										<li>
											<input type="radio"  id='#' name='price' value='3500'><label for="price">Up to $3500</label>
										</li>
										<li>
											<input type="radio"  id='#' name='price' value='1020'><label for="price">$1000 to $2000</label>
										</li>
										<li>
											<input type="radio"  id='#' name='price' value='1525'><label for="price">$1500 to $2500</label>
										</li>
										<li>
											<input type="radio"  id='#' name='price' value='2030'><label for="price">$2000 to $3000</label>
										</li>
										<li>
											<input type="radio"  id='#' name='price' value='1001'><label for="price">$1000 and up</label>
										</li>
										<li>
											<input type="radio"  id='#' name='price' value='2001'><label for="price">$2000 and up</label>
										</li>
										<li>
											<input type="radio"  id='#' name='price' value='3001'><label for="price">$3000 and up</label>
										</li>
									</ul>
								</div>								
							</li>
							<li>Location/Zone</li>
							<li>
								<div class="btn-group">
								 	<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" id='pets'>Pet preference<span class="caret"></span></button>
									<ul class="dropdown-menu">
									  	<li>
									      	<input type="radio" id='show_all' name='pets' value='all'><label for="pets">Show all ads</label>
									    </li>
										<li>
											<input type="radio"  id='show_pets' name='pets' value='pets_no'><label for="pets">Hide ads that say NO PETS</label>
										</li>

									</ul>
								</div>
							</li>


							<!-- <button id="btn-next-plan">Next</button> -->
							<button><a href="#" id='btn-search' data-toggle="modal" data-target="#search_prefs_modal">Search listings</a></button>

						</ul>
					</form>
				</section> <!-- end section class=panel-body -->
			</div> <!-- end div id=login_register -->
		</div>	<!-- end div class=modal-body -->
	</div> <!-- end div class=modal-content -->
</div> <!-- end div class=modal-dialog -->