<!-- <link rel="stylesheet" href="css/dropdown-enhancement.css">
<link rel="stylesheet" href="css/search.css"> -->

<div class="modal-dialog">

	<!-- Modal content-->
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h2 class="modal-title">Search preferences</h2>
		</div> <!-- end div class=modal-header -->
    	<div class="modal-body">
			<div class="container">
				<section class="panel-body">	

					<h4 id='search_prefs'>Search preferences show here</h4>
				</section> <!-- end section class=panel-body -->
			</div> <!-- end div class=container -->
		</div>	<!-- end div class=modal-body -->
	</div> <!-- end div class=modal-content -->
</div> <!-- end div class=modal-dialog -->