
#main-menu {
	border-top: 0;
} 
#dropdown-menu.toggled-on {
	display: flex;
	flex-direction: column;
}
.container-fluid {
	padding-top: .1em;
	border: 0;
	justify-content: flex-end;
	white-space: nowrap;
}
.navbar {
	background-color: transparent;
}
.navbar-nav {
	margin-top: 0;
}
.container {
	display: flex;	
}
.sidebar-left {
	flex: 1 1 20%;
	order: 0;
}
article {
    flex: 1 3 70%;
    order: 1;
}
.sidebar-right {
	display: flex;
    flex-direction: column;
	flex: 1 1 30%;
	order: 2;
}


/* mobile device size styling */
@media screen and (max-width: 480px) {
	body {
		width: 100%;
	}
	header {
		height: 200px;
	}
	.menu {
		position: relative;
		display: flex;
		align-items: center;
	}
	#branding {
		font-size: 1.25em;
	}
	.navbar-brand {
		visibility: visible;
	}
	#banner {
		display: none;
		position: absolute;
		margin-left: .5em;
		font-size: 1.5em;
	}
	.menu button, .icon-bar, #branding {
		visibility: visible;
	}
	.container {
		flex-direction: column;
	}
	.main {
		padding: .5em 0;
		order: ;
	}
	.main h1 {
		font-size: 3em;
		margin: .1em;
	}
	.main p {
		display: none;
	}
	.sidebar-left {
		display: none;
	}
	.sidebar-right {
		order: 2;
		background: #92b4e5;
	}
	.sidebar-right p:nth-child(1), .sidebar-right ul {
		background: #fff;
		padding-left: 0;
	}
	.sidebar-right p:first-of-type {
		margin-bottom: 0;
		font-size: 1.5em;
		text-align: center;
	}
	.sidebar-right ul {
		margin-top: 0;
		display: flex;
		justify-content: space-around;
	}
	.sidebar-right ul:nth-of-type(1) {
		margin-bottom: 0;
	}
	.sidebar-right ul:nth-of-type(2) {
		flex-direction: column;
	}
	.sidebar-right ul li {
		margin-bottom: 5px;
	}
	.sidebar-right section img {
		display: none;
	}
	#main-menu a {
		background-color: #e6e6e6;
	}
}


/* tablet device size styling */
@media only screen and (min-width: 481px) and (max-width: 768px) {

	#banner:before {
		content: "Portland Rental Houses";
	}
	#banner {
		font-size: 2.5em;
		margin-left: 1em;
		visibility: hidden;
	}
	.navbar-brand {
		visibility: visible;
		font-size: 1.5em;
	}
	.menu {
		position: relative;
		display: flex;
		align-items: center;
	}
	.menu button, .icon-bar, #branding {
		visibility: visible;
	}
	#branding {
		font-size: 1.75em;
	}
	.main {
		padding: 0;
	}
	.main h1 {
	    font-size: 3.5em;
	    padding: 0 .25em;
	}
	.main p {
		padding: 0 2em;
	}
	.navbar-nav {
		visibility: visible;
		align-items: flex-end;
	}
	.navbar-nav li {
		visibility: visible;
		width: 200px;
	}
	.navbar-nav.in li {
		width: 200px;
	}
	.sidebar-left {
		display: none;
	}
	.sidebar-right section img {
		visibility: visible;
	}
	
	#main-menu a {
		background-color: #e6e6e6;
	}

}

/* larger than tablet device size styling */
@media only screen and (min-width: 769px) {
	.container-fluid {
		display: flex;
	}
	#main-menu {
		margin-right: -15px;
		padding-right: 0;

	}
	#main-menu ul {
		flex-direction: row;
	}
	#main-menu ul li a{
		background-color: transparent;
	}
}
