/*styling for login/registration modal*/

.modal-title {
	color: #7fa6df;
}
.modal-body > .container {
	padding-right: 0;
	border: 1px solid #6b93c7;
	border-radius: 0 8px 8px 8px;

}

/*.container > .row {
	width: 100%;
	margin: 0;
}*/
/*.container > .row > div {
	width: 100%;
	margin-left: 0;
	padding: 0;*/

}
#login-submit, #register-submit {
	background-color: #92b4e5;
	border: 1px solid #6b93c7;
	color: black;
	text-transform: capitalize;
}
.panel-body {
	width: 100%;
}
.panel-body ul {
	list-style: none;
	width: 100%;
	margin: 0 0 .5em;
	padding: 0;

}

.panel-body ul li {
	width: 100%;
	margin-bottom: 0.1em;
}
.panel-body ul li input {
	width: 100%;
}
.row {
	/*padding-bottom: .1em;*/
	padding-left: .85em;
	margin-bottom: -1px;
	display: flex;
	/*justify-content: space-around;*/
}
.row a {
	width: 30%;
	color: gray;
	padding: .25em;
	border: 1px solid #7fa6df;
	border-radius: 8px 8px 0 0;
}

.panel-login a.active{
	/*color: #029f5b;*/
	background-color: #e6e6e6;
	color: #7fa6df;
	font-size: 18px;
}


.panel-body form {
	border-radius: 8px;
}

.panel-login {
	margin-bottom: 0;
    border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);

}

.panel-body input[type="text"],
.panel-body input[type="email"],
.panel-body input[type="password"]
{
	height: 45px;
	border: 1px solid #ddd;
	border-radius: 8px;
	font-size: 16px;
	padding: .5em;
	margin-bottom: .3em;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-body select {
	height: 45px;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 16px;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
.addr, #form_pymt, #form_plan {
	display: none;
}
